.text {
    font-size: 2rem;
    color: rgb(8, 182, 235);
}

.btn {
    border: 1px solid rgb(248, 33, 33);
    background-color: rgb(248, 33, 33);
    border-radius: 2rem;
    padding: 0.3rem 0.4rem;
    color: #fff;
}

.uncomplete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    background-color: rgb(216, 225, 228);
    border-radius: 2rem;
    margin-bottom: 1rem;
}


.todo-item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    background-color: rgb(216, 225, 228);
    border-radius: 2rem;
    margin-bottom: 1rem;
}

.todo-item .text {
    text-decoration: line-through red;
}
